@import "./font.scss";
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  .form {  
    &__input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: white;
      border: 1px solid  #bdf289;
      border-bottom: 1px solid  #bdf289;
      width: 75%;
      display: block;
      transition: all .3s;
      &:focus {
        outline: none;
        box-shadow: white;
      }
      &:focus:invalid {
        border-bottom: 1px solid #bdf289;
      }
      &::-webkit-input-placeholder {
        color: grey;
      }
    }
    &__label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom: 1rem;
      display: block;
      transition: all .3s;
    }
    &__input:placeholer-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  }
  .btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 3px;
        transition: all .2s;
        position: relative;
        background-color: #000;
        color:#fff;
        font-size: 24px;
        

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000,.2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(#000,.2);
    }
    btn--black {
        background-color: #000;
        color: #fff;

    }
}
  
  .app {
    overflow-x: hidden;
     .fab-container {
      position: fixed;
      font-family: 'poppins_regular';
      bottom: 50px;
      background: #303030;
      right: 50px;
      border-radius: 30px;
      z-index: 999;
      cursor:'pointer';
      padding: 10px;
      height: 20px;
    }
    .fab-container-mobile {
      position: fixed;
      bottom: 15px;
      right: 10px;
      z-index: 999;
      cursor:'pointer';
      background: #303030;
      padding: 10px;
      border-radius: 30px;
      height: 20px;
    }
    .position-image{
      position: absolute;
      overflow-x: hidden;
      width:650px;
      height:650px;
      right:-115px;
      position:absolute;
    }
    .navigation{
        ul {
          display: flex;
          padding: 0;
          flex-direction: row;
          li{
            padding-left: 0px;
            padding-right: 0px;
            width:180px;
          }
        }
        .position_heading {
          position: relative;
          top:-50px;
        }

        .position-image-browser{
          position:absolute;
          left:115px;
        }
        .navigation-item{
          font-family:'poppins_regular';
        }
        .real_cashews {
          font-family: "poppins_bold";
          .not_made {
            font-family: "poppins_black";
          }
        }
        .about_us {
          font-family: "poppins_bold";
        }
        .healthy_cashews{
          font-family: "poppins_medium";
        }
        .sailing_para{
          font-family: "poppins_regular";
        }
        .form {  
          &__input {
            font-size: 1.5rem;
            font-family: inherit;
            color: inherit;
            padding: 1.5rem 2rem;
            border-radius: 2px;
            background-color: white;
            border: 1px solid  #bdf289;
            border-bottom: 1px solid  #bdf289;
            width: 90%;
            display: block;
            transition: all .3s;
            &:focus {
              outline: none;
              box-shadow: white;
            }
            &:focus:invalid {
              border-bottom: 1px solid #bdf289;
            }
            &::-webkit-input-placeholder {
              color: grey;
            }
          }
          &__label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-top: 2rem;
            margin-bottom: 1rem;
            display: block;
            transition: all .3s;
          }
          &__input:placeholer-shown + &__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
          }
        }
        .btn {
          &,
          &:link,
          &:visited {
              text-transform: uppercase;
              text-decoration: none;
              padding: 1.5rem 4rem;
              display: inline-block;
              border-radius: 3px;
              transition: all .2s;
              position: relative;
              background-color: #000;
              color:#fff;
              font-size: 24px;
              
      
              //Change for the <button> element
              border: none;
              cursor: pointer;
          }
          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(#000,.2);
            &::after {
              transform: scaleX(1.4) scaleY(1.6);
              opacity: 0;
            }
          }
          &:active,
          &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(#000,.2);
          }
          btn--black {
              background-color: #000;
              color: #fff;
      
          }
      }
      }
      .footer{
        h2{
          font-family: "poppins_medium";
        }
        p{
          font-family:'poppins_regular';
        }
      }
      
  }
}

