@font-face {
	font-family: 'poppins_regular';
	src: url('./Poppins/Poppins-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppins_black';
	src: url('./Poppins/Poppins-Black.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppins_bold';
	src: url('./Poppins/Poppins-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'poppins_medium';
	src: url('./Poppins/Poppins-Medium.ttf');
}
@font-face {
	font-family: 'poppins_regular';
	src: url('./Poppins/Poppins-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}